<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Notifier</title>
  <link rel="stylesheet" type="text/css" href="/style-index.css">
</head>
<body>
  <div class="outer">
  <div class="container-index">
    <h1>Daily Notifier</h1>
    <p>(IMPORTANT NOTE - Please do not type in any sensitive data while using this application. The database for your texts is not encrypted yet.)</p>
    <p>A simple web application that sends you daily emails at 10 A.M (G.M.T +5:30 or India Standard Time).</p>
    <p>You can log in with your Gmail id and write texts that you want to be sent to you everyday. The texts sent are picked randomly.</p>
    <p>Any archived texts will not be sent to you.</p>
    <br>
    <div>
      <nav>
        <% if (!user) { %>
        <a href="/auth/google"><button class="button-30">Login</button></a>
        <% } else { %>
        <a href="/auth/logout"><button class="button-30">Logout</button></a>
        <a href="/profile"><button class="button-30">Profile</button></a>
        <% } %>
      </nav>
    </div>
  <div>
  </div>
</body>
</html>